.PageTabs {
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 16px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 16px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 16px -13px rgba(66, 68, 90, 1);
}

.PageTabs > .TabNav {
    font-weight: 400;
    height: inherit;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
}