.FlowPane .react-flow {
    height: inherit !important;
}

.FlowPane .react-flow .react-flow__edge-path {
    stroke-width: 2;
    stroke: #1565c0;
}

.FlowPane .react-flow__edge-default.selected .react-flow__edge-path {
    stroke: #644;
}

.FlowPane .react-flow__edge.react-flow__edge-default.selected {

}

.FlowPane .react-flow__edge-path-selector:hover {
    cursor: pointer
}

.FlowPane .react-flow__edge-path-selector:hover + .react-flow__edge-path, .react-flow__edge-path:hover {
    stroke: black;
    cursor: pointer;
}

.FlowPane .react-flow__edge-path-selector {
    fill: none;
    stroke: transparent;
    stroke-width: 28;
    animation: unset !important;
    stroke-dasharray: none !important;
    -webkit-animation: unset !important;
}

.FlowEditor {
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
    overflow-y: auto;
}

.FlowEditor > .WorkArea .FlowEditorGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-rows: 100%;
    grid-template-columns: 1fr auto;
    grid-template-areas: "editor properties"
                         "debug debug";
    background-color: white;
}

.FlowEditor > .WorkArea {
    display: flex;
    flex-direction: row;
    height: inherit;
}

.FlowEditor .WorkArea .FlowPane {
    width: inherit;
    height: inherit;
    grid-area: editor;
}

.FlowEditor .NodeContextForm {
    position: absolute;
    z-index: 12;
    padding: 10px;
    max-height: 500px;
    overflow: auto;
    background-color: rgba(245, 245, 245, .8);
    border-radius: 5px;
    border: 1px solid #ccc;
}
