.NodeDetails {
    height: 100%;
    display: flex;
    border-radius: 15px;
}

.NodeDetails > .NodeDetailsIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(235, 235, 235, 0.85);
    border-radius: 15px 0 0 15px;
}

.NodeDetails > .NodeDetailsContent {
    border-left: solid 1px #cccccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 15px 0 0;
    max-width: 580px;
}

.NodeDetails > .NodeDetailsContent .Title {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 20px;
    font-weight: 400;
    justify-content: space-between;
    padding: 13px;
    color: #444;
    background-color: whitesmoke;
    height: 70px;
    border-bottom: solid 1px #ccc;
    z-index: 2;
    border-radius: inherit;
}

.NodeDetails:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
}

.NodeDetails > .NodeDetailsContent > .Title> SPAN {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
}

.NodeDetails > .NodeDetailsContent .TaskDetails {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0;
    z-index: 9;
    display: none;
    flex-direction: row;
}

.NodeDetails > .NodeDetailsContent .Pane {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    overflow-y: auto;

}