.menuNode {
    padding: 8px;
    border: solid 2px transparent;
    border-radius: 10px;
    margin: 4px 0;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    border: 1px solid #eee;

}

.menuNode SPAN.proTag {
    border-radius: 6px;
    font-size: 80%;
    padding: 1px 6px;
    margin: 3px;
    background: #ef6c00;
    color: white;
    font-weight: 600;
}

.menuNode:hover {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: black;
    cursor: grab;
}

.FlowEditor > .WorkArea .SidebarSection {
    position: absolute;
    height: calc(100% - 20px);
    width: 250px;
    background: rgba(255,255,255,0.85);
    border-radius: 15px;
    margin: 10px;
    border: solid 2px #ccc;
    z-index: 50;
    padding: 0;
}

.FlowEditor > .WorkArea .TaskFilter {
    padding: 5px 14px 14px 14px;
    border-bottom: solid 1px #ccc;
    border-radius: 15px 15px 0 0;
}

.FlowEditor > .WorkArea .SidebarSection:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.28);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.28);
}

.FlowEditor > .WorkArea .TaskNodes {
    padding: 0 10px 15px 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 110px);
    margin-top: 4px;
}

.FlowEditor > .WorkArea .TaskNodes .PluginsNotFoundMessage {
    text-align: center;
    margin-top: 20px;
}

.FlowEditor > .WorkArea .TaskNodes .PluginsNotFoundMessage .ResourcesHref {
    color: inherit;
}

.FlowEditor > .WorkArea .TaskNodes P
{
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: solid 1px #444;
    color: #444;
    letter-spacing: 0.5px;
}