.SidebarRight {
    grid-area: properties;
    width: fit-content;
    padding: 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    margin: 10px;
    border-radius: 15px;
    border: solid 2px #ccc;
}